{% extends 'catalog/base.html' %}

{% block content %}

<div class="card card-s mx-auto">
    <div class="card-header d-flex justify-content-between h6">
        <p class="  m-0">{{object.blog_title }}</p>
    </div>
    <div class="card-body d-flex justify-content-between">
        <p class=" m-0">{{object.content}}</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <p class="m-0 mx-left">Создано: {{ object.created_at }} Просмотров: {{ object.views_count }}</p>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <a class="p-2 btn btn-info" href={% url 'blog:edit' object.slug %}>Изменить</a>
        <a class="p-2 btn btn-warning" href={% url 'blog:delete' object.slug %}>Удалить</a>
    </div>
</div>

{% endblock %}
