    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <nav class="ms-5">
            <a {% if title == 'Главная' %} class="d-none" {% endif %}
                class="p-2 btn btn-outline-primary" href={% url 'catalog:index' %}>Главная
            </a>
            <a {% if title == 'Контакты' %} class="d-none" {% endif %}
                class="p-2 btn btn-outline-primary" href={% url 'catalog:contacts' %}>Контакты
            </a>
            <a {% if title == 'Новый товар' %} class="d-none" {% endif %}
                class="p-2 btn btn-outline-primary" href={% url 'catalog:new' %}>Новый товар
            </a>
            <a {% if title == 'Товары' %} class="d-none" {% endif %}
                class="p-2 btn btn-outline-primary" href={% url 'catalog:catalog' %}>Товары
            </a>
            <a {% if title == 'Новый пост' %} class="d-none" {% endif %}
                class="p-2 btn btn-outline-primary" href={% url 'blog:new' %}>Новый пост
            </a>
            <a {% if title == 'Наш блог' %} class="d-none" {% endif %}
                class="p-2 btn btn-outline-primary" href={% url 'blog:blog' %}>Наш блог
            </a>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'user:logout' %}" id="logout-form" method="POST">
                    {% csrf_token %}
                    <button form="logout-form" type="submit" class="p-2 btn btn-outline-primary">Выход</button>
            </form>
            <a class="p-2 btn btn-outline-primary" href={% url 'user:profile' %}>Профиль</a>
            {% else %}
            <a class="p-2 btn btn-outline-primary" href={% url 'user:login' %}>Вход</a>

            {% endif %}
        </nav>
    </div>